main {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 8;
  /* overflow: hidden; */
}

.products {
  padding: 1.5rem 0 3rem;
}

.products-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.products-btn-container {
  /* max-width: 95vw; */
  margin: 0 auto;
  margin-bottom: 2rem;
  position: relative;
}

.products-btns {
  max-width: 280px;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.product-btn {
  background: #f0f0f0;
  color: var(--black);
  min-width: 80px;
  text-align: center;
  padding: 15px 25px;
  margin: 5px;
  border-radius: 32px;
  transition: var(--transition);
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

/* .scroll-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  position: absolute;
  top: 30%;
  z-index: 8000;
  color: var(--white);
  padding: 0 5px;
  background: var(--black);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.scroll-btn.left {
  left: 5%;
}

.scroll-btn.left.show {
  display: block;
}

.scroll-btn.left.hidden {
  display: none;
}

.scroll-btn.right {
  right: 5%;
  display: none;
}

.scroll-btn.right.show {
  display: block;
}

.scroll-btn.right.hidden {
  display: none;
}

 */

 .product-active {
  background: var(--primaryClr200);
}

@media screen and (min-width: 380px) {
  .products-btn-container {
    max-width: 500px;
  }

  .products-btns {
    max-width: 600px;
    overflow: visible;
  }

  .product-btn {
    min-width: 80px;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 18px 16px;
    text-align: center;
  }

}

@media screen and (min-width: 400px) {
  .products-btns {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 520px) {
  .products-btn-container {
    max-width: 1120px;
  }

  .products-btns {
    justify-content: center;
  }
}
