.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  background: var(--greyClr300);
  animation: slideDown 0.5s 1 ease;
  -webkit-animation: slideDown 0.5s 1 ease;
  display: none;
}

.show {
  display: block;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(0, -200px);
    -webkit-transform: translate(0, -200px);
    -moz-transform: translate(0, -200px);
    -ms-transform: translate(0, -200px);
    -o-transform: translate(0, -200px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}
}

.menu-wrapper {
  width: 85vw;
  max-width: 1120px;
  margin: 0 auto;
  padding: 1rem 0;
}

.menu-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cancel-menu {
  font-size: 2rem;
  font-weight: 700;
  color: #ff6347;
}

.menu-links {
  padding: 1.5rem 0 0.5rem;
}

.menu-links li {
  position: relative;
}

.menu-links li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  padding: 0.8rem 0;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1.2px;
  position: relative;
}

.menu-links a button {
  color: var(--black);
  font-size: 16px;
  border: none;
  background: none;
}

.menu-links li .dropdown-menu {
  margin-top: -5px;
  padding-left: 50px;
  animation: slideDownD 0.5s 1 ease;
  -webkit-animation: slideDownD 0.5s 1 ease;
  display: none;
}

@keyframes slideDownD {
  from {
    opacity: 0;
    transform: translate(0, -120px);
    -webkit-transform: translate(0, -120px);
    -moz-transform: translate(0, -120px);
    -ms-transform: translate(0, -120px);
    -o-transform: translate(0, -120px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}

.menu-btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}

.menu-btns .menu-btn {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  background: none;
  padding: 0.9rem 0;
  color: var(--black);
  border-radius: 12px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.menu-btns .menu-btn-one {
  margin-bottom: 0.5rem;
  background: var(--white);
  color: var(--black);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.menu-btns .menu-btn-two {
  background: transparent;
  border: 1px solid var(--black);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.menu-socials h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.menu-social-icons {
  display: flex;
  gap: 0 0.3rem;
  align-items: center;
}

.menu-social-icons span {
  font-size: 1.2rem;
  padding: 0.2rem;
  cursor: pointer;
}

.fa-twitter {
  color: var(--secondaryClr900);
}

.fa-facebook {
  color: var(--secondaryClr100);
}

.fa-instagram {
  color: #ff6347;
}

.fa-linkedin {
  color: #0000ff;
}
