/* import ".index.css"; */

.products-container {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.product {
  width: 100%;
  max-width: 250px;
  margin-bottom: 1.5rem;
}

.product-img-container {
  margin-bottom: 0.3em;
}

.product-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
}

.product-name {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.product-description {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.product-price {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--grey);
  margin-bottom: 5px;
}

/* .product-quantity {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  margin: 0.2rem 0 0.5rem;
}

.product-input {
  width: 30px;
  text-align: center;
  padding: 0.2rem 0;
}

.product-input::placeholder {
  font-size: 1.2rem;
}

.increment,
.decrement {
  font-size: 1rem;
  font-weight: 600;
  border: none;
} */

.product-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 0.7rem;
}

.product-button {
  font-size: 0.8rem;
  font-family: 500;
  cursor: pointer;
  border: none;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  background: var(--black);
  color: var(--white);
  border-radius: 2rem;
  padding: 0.7rem 0.8rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.product-cart {
  background: var(--black);
}

.product-buy {
  background: #ff6347;
}

@media screen and (min-width: 520px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
