* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryClr100: #00ff00;
  --primaryClr200: #19ff19;
  --primaryClr300: #33ff33;
  --primaryCLr400: #4dff4d;
  --primaryClr500: #66ff66;
  --primaryClr600: #80ff80;
  --primaryClr700: #99ff99;
  --primaryClr800: #b3ffb3;
  --primaryClr900: #ccffcc;
  --primaryClr1000: #e6ffe6;
  /* secondary colors */
  --secondaryClr100: #000066;
  --secondaryClr200: #000080;
  --secondaryClr300: #000099;
  --secondaryClr400: #0000b3;
  --secondaryClr500: #0000cc;
  --secondaryClr600: #0000e6;
  --secondaryClr700: #0000ff;
  --secondaryClr800: #1919ff;
  --secondaryClr900: #3333ff;
  /* grey colors */
  --greyClr100: #808080;
  --greyClr200: #8d8d8d;
  --greyClr300: #999999;
  --greyClr400: #a6a6a6;
  --greyClr500: #b3b3b3;
  --greyClr600: #c0c0c0;
  --greyClr700: #cccccc;
  --greyClr800: #d9d9d9;
  --greyClr900: #e6e6e6;
  --greyClr1000: #f2f2f2;
  /* other colors */
  --black: #000000;
  --white: #ffffff;
  --transition: 0.3s ease;
  /* --box-shadow: ; */
}

body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.btn {
  background: var(--primaryClr100);
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  padding: 0.8rem 1.2rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

/* 
=================================
main
=================================
 */

main {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 8;
  overflow: hidden;
}

/* product section */
.products {
  padding: 1.5rem 0 3rem;
}

.products-wrapper {
  width: 90vw;
  max-width: 1120px;
  margin: 0 auto;
}

.products-btn-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.products-btns {
  width: 90vw;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.product-btn {
  background: #f0f0f0;
  color: var(--black);
  min-width: 80px;
  text-align: center;
  padding: 15px;
  margin: 5px;
  border-radius: 16px;
  transition: var(--transition);
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.scroll-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
}

.product-active {
  background: var(--primaryClr200);
}

.products-container {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.product {
  width: 100%;
  max-width: 250px;
  margin-bottom: 1.5rem;
}

.product-img-container {
  margin-bottom: 0.3em;
}

.product-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.product-name {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.product-price {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--secondaryClr900);
}

.product-quantity {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  margin: 0.2rem 0 0.5rem;
}

.product-input {
  width: 30px;
  text-align: center;
  padding: 0.2rem 0;
}

.product-input::placeholder {
  font-size: 1.2rem;
}

.increment,
.decrement {
  font-size: 1rem;
  font-weight: 600;
  border: none;
}

.product-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 0.7rem;
}

.product-button {
  font-size: 0.8rem;
  font-family: 500;
  cursor: pointer;
  border: none;
  padding: 0.5rem 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  background: var(--black);
  color: var(--white);
  border-radius: 1rem;
  padding: 0.6rem 1.1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* .product-active {
  background: var(--primaryClr300);
} */

.product-cart {
  background: var(--black);
  color: var(--white);
}

.product-buy {
  background: #ff6347;
  color: var(--white);
}

@media screen and (min-width: 400px) {
  .scroll-btn {
    display: none;
  }

  .products-btns {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 520px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.responsive-bar {
  display: block;
}
